/* removes existing margins and padding so headers and footers can reach sides of page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets color for background of the body portion */
body {
    background-color: #d9dcd6;
}

/* sets header style such as font and colors */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* sets the size of all text in h1 as well display style */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* calls the unique span in h1 so that a few letters are a different color */
.seo {
    color: #d9dcd6;
}

/* styling settings for header buttons */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* styling settings for header list */
.header ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

/* sets color and removes underline for all links */
a {
     color: #ffffff;
     text-decoration: none;
}

/* sets font size for all p elements */
p {
    font-size: 16px;
}

/* determines dimension and photo for hero section before the body */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* determines spacing as well as ensures all elements with float left class are on the left side of screen */
.float-left {
    float: left;
    margin-right: 25px;
}

/* determines spacing as well as ensures all elements with float right class are on the right side of screen */
.float-right {
    float: right;
    margin-left: 25px;
}

/* determines placement of elements with content class */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* determines placement, font, and color of elements with benefits class */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Three functions all set margins and color under different classes, the classes have been replaced with an "alpha" class to keep things nice and simple */
.benefit-alpha {
    margin-bottom: 32px;
    color: #ffffff;
}

/* removed three seperate functions that all set margins and aligned text in the center, in favor of one */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* removed three seperate functions that all determined dimensions of image elements in the benefits class, in favor of one */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* removed three seperate funtions calling three seperate classes in favor of one that does the same thing */
.content-alpha {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* removed three seperate functions that all determine dimensions of image elements in content class, in favor of one */
.content img {
    max-height: 200px;
    margin-bottom: 20px;
    font-size: 36px;
}

/* removed three seperate functions that all determined dimensions of h2 elements in content class, in favor of one */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* determines placement and font of footer elements */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* determines font size in footer */
.footer h2 {
    font-size: 20px;
}